# Introduction/Project Overview:

In this notebook, I will go over the World Health Organization Life Expectancy dataset. This dataset can be found on [kaggle](https://www.kaggle.com/datasets/kumarajarshi/life-expectancy-who). We are given data on a country, population, health issues, life expectancy, etc. Our goal would be to create a model that can accurately determine the life expectency given a some characteristics on a population. Throughout this notebook I will visualize the data, explain some data preprocessing techniques, construct and evaluate models and analyze the results.

### Data Exploration & Preprocessing:
I will go over the dataset, analyzing its various features, checking for missing values, and gaining insights into the distribution of variables. Prior to building the models, I will preprocess the data by handling missing values, encoding categorical variables, and scaling numerical features to ensure good model performance.

### Model Building & Evaluation:
In this notebook I will try implement a couple of models to try and see which ones are more accurate at predicting life expectancy. This is a supervised learning task since we are given the life expectancy of these population. Additionally this is a regression tasks because we are trying to predict a numerical value rather then put something into a category. For this notebook the models I chose is multiple linear regression, polynomial regression and a neural network. Lastly I will interpret the results of each model. 


### Conclusion:
Finally, I will be discussing potential areas for model improvement, what stood out to me and what were some challanges.. The conclusion serves more as a reflection for me on my time working on this notebook. This will serve as a good test for me to keep learning and testing my skills.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

# Data Exploration & Preprocessing:
As mentioned earlier I got the dataset from kaggle. The link to that can be found above in the project overview. The download came with a csv file. Since I have it locally on my computer I can eassily access the data as shown below. Some of the first steps we will do before creating a model is to see what our data looks like.

In [3]:
data = pd.read_csv('./Life Expectancy Data.csv')

Lets take a look at the first couple of entries in our dataset and what columns are int it.

In [4]:
data.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922 entries, 0 to 2921
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2922 non-null   object
 1   Year                             2922 non-null   int64
 2   Status                           2922 non-null   object
 3   Life expectancy                  2912 non-null   float64
 4   Adult Mortality                  2912 non-null   float64
 5   infant deaths                    2922 non-null   int64
 6   Alcohol                          2729 non-null   float64
 7   percentage expenditure           2922 non-null   float64
 8   Hepatitis B                      2369 non-null   float64
 9   Measles                          2922 non-null   int64
 10   BMI                             2888 non-null   float64
 11  under-five deaths                2922 non-null   int64
 12  Polio                            2903 non-null   float64
 13  Total expenditure                2697 non-null   float64
 14  Diphtheria                       2903 non-null   float64
 15   HIV/AIDS                        2922 non-null   float64
 16  GDP                              2474 non-null   float64
 17  Population                       2270 non-null   float64
 18   thinness  1-19 years            2888 non-null   float64
 19   thinness 5-9 years              2888 non-null   float64
 20  Income composition of resources  2755 non-null   float64
 21  Schooling                        2759 non-null   object
dtypes: float64(15), int64(4), object(3)
memory usage: 502.3+ KB

So we have 22 columns in total. We have three categorical columns and 19 numeric columns. We also have quite some missing values so we will try and fill them later. Before we do anything its important to understand what each columns is telling us. Some are pretty straight forward so we won't go over those. 

`Life expectancy:` In years 
`Adult Mortality :`This is the rate of adults dying between 15 and 60 years per 1000 population 
`Infant Deaths:` 
`Alcohol`                         
`percentage expenditure`          
`Hepatitis B, Polio, Diphtheria,:` For these diseases this is the percentage of immunization among 1 year olds. 
`Measles:` 
`HIV/AIDS:` are 
`BMI:`                            
`Total expenditure:`                
`thinness  1-19 years:`            
`thinness 5-9 years:`             
`Income composition of resources:`
`Schooling:`On kaggle it says "Number of years of Schooling(years)" but im not entirely sure what that means.

Lets see what other information we can get at a glance from our data.

In [6]:
data.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources
count,2922.000000,2912.000000,2912.000000,2922.00000,2729.000000,2922.000000,2369.000000,2922.000000,2888.000000,2922.000000,2903.000000,2697.000000,2903.000000,2922.000000,2474.000000,2.270000e+03,2888.000000,2888.000000,2755.000000
mean,2007.518823,69.158585,165.375000,30.46475,4.614434,734.257951,80.829042,2432.080424,38.228913,42.260438,82.485704,5.929622,82.287289,1.751095,7409.578404,1.284307e+07,4.860180,4.891205,0.626125
std,4.613863,9.507065,124.377503,118.22895,4.060504,1989.000255,25.117593,11497.376328,20.013652,160.855549,23.476201,2.502567,23.727348,5.090214,14240.127119,6.121744e+07,4.423829,4.512590,0.210677
min,2000.000000,36.300000,1.000000,0.00000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000
25%,2004.000000,63.000000,74.000000,0.00000,0.860000,4.521385,77.000000,0.000000,19.300000,0.000000,78.000000,4.260000,78.000000,0.100000,462.494371,2.146920e+05,1.600000,1.600000,0.492000
50%,2008.000000,72.000000,144.000000,3.00000,3.790000,64.395284,92.000000,16.000000,43.200000,4.000000,93.000000,5.720000,93.000000,0.100000,1753.383635,1.420384e+06,3.400000,3.400000,0.676000
75%,2012.000000,75.600000,228.000000,22.00000,7.740000,436.496201,97.000000,362.000000,56.100000,28.000000,97.000000,7.490000,97.000000,0.800000,5856.794374,7.462979e+06,7.200000,7.200000,0.777000
max,2015.000000,89.000000,723.000000,1800.00000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000

In [16]:
numerical = data.select_dtypes(include=['float64']).columns

In [17]:
categorical = data.select_dtypes(include=['object']).columns

In [23]:
pd.pivot_table(data, index = 'Life expectancy', values = numerical)

KeyError: ' Life expectancy '

In [21]:
data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2918,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2919,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10
2920,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2921,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8