In [26]:
import pandas as pd
import csv

In [27]:
# df = pd.DataFrame(columns=['index', 'image', 'num', 'height', 'width', 'x', 'y'])
colNames = ['index', 'image', 'num', 'height', 'width', 'x', 'y']

In [28]:
df = pd.read_csv('testData.csv', names=colNames, header=None)

In [29]:
df

,index,image,num,height,width,x,y
0,Screen Shot 2020-09-19 at 11.07.55 PM.png,1,NaN,23,375,163,358
1,Screen Shot 2020-09-19 at 11.08.01 PM.png,1,NaN,337,511,28,333
2,Screen Shot 2020-09-19 at 11.08.01 PM.png,2,NaN,27,311,25,326
3,Screen Shot 2020-09-19 at 11.08.08 PM.png,1,NaN,889,1182,200,479
4,Screen Shot 2020-09-19 at 11.08.08 PM.png,2,NaN,1210,1396,199,490
5,Screen Shot 2020-09-19 at 11.08.08 PM.png,3,NaN,363,614,252,402

In [30]:
def getCoords(label):
    sframe = []
    for index, row in df.iterrows():
        imageInfo = {}
        x1 = row["height"]
        x2 = row["x"]
        y1 = row["width"]
        y2 = row["y"]
        xCenter = (x1 + x2)/2
        yCenter = (y1+y2)/2
        imageInfo["coordinates"] = {"height": row["height"], "width": row["width"], "x": xCenter, "y": yCenter}
        imageInfo["label"] = label
        dictionary_copy = imageInfo.copy()
        sframe.append(dictionary_copy)
    return sframe

In [31]:
getCoords("jordan_three")

[{'coordinates': {'height': 23, 'width': 375, 'x': 93.0, 'y': 366.5},
  'label': 'jordan_three'},
 {'coordinates': {'height': 337, 'width': 511, 'x': 182.5, 'y': 422.0},
  'label': 'jordan_three'},
 {'coordinates': {'height': 27, 'width': 311, 'x': 26.0, 'y': 318.5},
  'label': 'jordan_three'},
 {'coordinates': {'height': 889, 'width': 1182, 'x': 544.5, 'y': 830.5},
  'label': 'jordan_three'},
 {'coordinates': {'height': 1210, 'width': 1396, 'x': 704.5, 'y': 943.0},
  'label': 'jordan_three'},
 {'coordinates': {'height': 363, 'width': 614, 'x': 307.5, 'y': 508.0},
  'label': 'jordan_three'}]