In [2]:
import turicreate as tc
import os
import pandas as pd

In [4]:
def loadDataInSframe():
    """
    """
    # 1. Load images
    data = tc.image_analysis.load_images('sneakers', with_path=True)

    # 2. Create label column based on folder name
    data['sneaker_name'] = data['path'].apply(lambda path: os.path.basename(os.path.dirname(path)))

    # 3. Save as .sframe
    data.save('testImages.sframe')

In [5]:
loadDataInSframe()

In [6]:
def classify():
    """
    """
    model = tc.load_model('sneaker.model')
    data = tc.SFrame('testImages.sframe')
    predictions = model.predict(data)
#     data['image_pred'] = tc.object_detector.util.draw_bounding_boxes(data['image'], predictions)

    return predictions

In [7]:
preds = classify()

Using GPU (Intel HD Graphics 5000) to extract features.

In [29]:
def testModel(model:str, folder:str):
    """
    This function goes to the testImages and goes
    through all the folders. It gets all the images 
    and classifies them. It then adds the label 
    and prediction to a pandas dataframe
    """
    df = pd.DataFrame(columns = ['label', 'prediction', 'correct']) 
    model = tc.load_model(model)
    
    for subFolder in os.listdir(folder):
        if subFolder[0] == ".":
            pass
        else:
            for filename in os.listdir(folder + "/" + subFolder):
                if filename[0] == ".":
                    pass
                else:
                    sneaker = (f'{folder}/{subFolder}/{filename}')
                    sneakerImg = tc.Image(sneaker)
                    prediction = model.predict(sneakerImg)
                    correct = 0
                    label = subFolder
                    if label == prediction: 
                        correct = 1
                    df = df.append({'label': subFolder, 'prediction': prediction, 'correct': correct}, ignore_index=True)
                    
    return df

In [30]:
testModel('sneaker.model', 'sneakers')

Using GPU (Intel HD Graphics 5000) to extract features.

            label     prediction correct
0    jordan_three   jordan_three       1
1    jordan_three   jordan_three       1
2    jordan_three   jordan_three       1
3    jordan_three   jordan_three       1
4     jordan_four    jordan_four       1
5     jordan_four    jordan_four       1
6     jordan_four    jordan_four       1
7      jordan_one     jordan_one       1
8      jordan_one     jordan_one       1
9      jordan_one     jordan_one       1
10     jordan_one     jordan_one       1
11     jordan_one   jordan_three       0
12     jordan_one     jordan_one       1
13     jordan_one     jordan_one       1
14     jordan_one     jordan_one       1
15     jordan_one     jordan_one       1
16     jordan_one     jordan_one       1
17     jordan_one     jordan_one       1
18     jordan_one    jordan_four       0
19     jordan_one     jordan_one       1
20     jordan_one     jordan_one       1
21     jordan_one    jordan_four       0
22     jordan_one     jordan_one       1
23  jordan_eleven  jordan_eleven       1
24  jordan_eleven     jordan_one       0
25  jordan_eleven  jordan_eleven       1
26  jordan_eleven  jordan_eleven       1
27  jordan_eleven  jordan_eleven       1
28  jordan_eleven  jordan_eleven       1
29  jordan_eleven  jordan_eleven       1
30  jordan_eleven  jordan_eleven       1
31  jordan_eleven  jordan_eleven       1
32  jordan_eleven  jordan_eleven       1
33  jordan_eleven  jordan_eleven       1
34  jordan_eleven  jordan_eleven       1
35  jordan_eleven   jordan_three       0
36  jordan_eleven  jordan_eleven       1
37  jordan_eleven    jordan_four       0
38  jordan_eleven    jordan_four       0
39  jordan_eleven  jordan_eleven       1