In [1]:
import numpy as np 
import pandas as pd 
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style
from sklearn.metrics import classification_report, confusion_matrix, f1_score
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression

In [2]:
from read_books import get_features

In [3]:
data = get_features()

In [4]:
data

              Name  Book Length  Average Word Length  Length NoRepeat
0  cook_book_three         3850             6.651429             3850
1       shakesepea        67380             7.622262            67380
2   cook_book_four         4551             6.595913             4551
3            novel        17977             7.341770            17977
4   edgar_allenpoe        48559             8.251488            48559
5        cook_book         2432             6.495888             2432
6    cook_book_two        10897             7.450950            10897